<br><br>
<div class="jumbotron">
  <div class="container">
		<h3>Find a restaurant</h3>
			<form action="#">
				<div class="input-group">
				   <input class="btn btn-lg" name="rest-name" id="rest-name" type="text" placeholder="Restaurant Name" required>
				   <input class="btn btn-lg" name="rest-loc" id="rest-loc" type="text" placeholder="Restaurant Location" required>
				   <button class="btn btn-info btn-lg" type="submit">Submit</button>
				</div>
			</form>
			<br>  
  </div>
</div>
