<!DOCTYPE html>
<html>
  <head>
    <title>RusHour {{#if title}} | {{title}}{{/if}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
