<!DOCTYPE html>
<html>
  <head>
    <title>RusHour {{#if title}} | {{title}}{{/if}}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.techie.css' />
      <!-- Docs Custom styles -->
		  <style>
				body,html{overflow-x:hidden}
				body{padding:0 20px 0;/*background-color: #313131;*/}
				footer{border-top:1px solid #ddd;padding:30px;margin-top:50px}
				.row>[class*=col-]{margin-bottom:40px}
				.navbar-container{position:relative;min-height:100px}
				.navbar.navbar-fixed-bottom,.navbar.navbar-fixed-top{position:absolute;top:0px;z-index:0}
				.navbar.navbar-fixed-bottom .container,.navbar.navbar-fixed-top .container{max-width:90%}
				.btn-group{margin-bottom:10px}
				.form-inline input[type=password],.form-inline input[type=text],.form-inline select{width:180px}
				.input-group{margin-bottom:10px}.pagination{margin-top:0}.navbar-inverse{margin:0px 0}
		  </style>
  </head>
  <body>
	  <div class="row">
	    <div class="col-sm-12 col-lg-12 navbar-container">
	        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	          <div class="navbar-header">
	            <a class="navbar-brand" href="#">RusHour</a>
	          </div>

	          <!-- Collect the nav links, forms, and other content for toggling -->
	          <div class="collapse navbar-collapse navbar-ex3-collapse">
	            <ul class="nav navbar-nav">
	              <li class="active"><a href="#">Link</a></li>
	              <li><a href="#">Link</a></li>
	            </ul>
	            <form class="navbar-form" role="search">
	              <div class="form-group">
	                <input type="text" class="form-control" placeholder="Search">
	              </div>
	            </form>
	          </div><!-- /.navbar-collapse -->
	        </nav>
	    </div>  
	  </div>  
    {{{body}}}

  <!-- Main Scripts-->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  <!-- Bootstrap 3 has typeahead optionally -->
  <script src="/js/typeahead.min.js"></script>
  </body>
</html>
