<!DOCTYPE html>
<html>
  <head>
    <title>RusHour {{#if title}} | {{title}}{{/if}}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="/stylesheets/rotating-card.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/bootstrap.techie.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>
  <body>
  	<!-- Top Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">RusHour</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="font-inverse">Sign In</a></li>
                <li><a href="#" class="font-inverse">Join RusHour</a></li>
              </ul>
              <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
              </form>
            </div>
          </div>
    </nav>
    <!-- Left side fixed navbar -->
	  <div class="container-fluid">
	    <div class="row">
	      <div class="col-sm-3 col-md-2 sidebar">
	        <ul class="nav nav-sidebar navbar navbar-trans" role="navigation">
	          <li><a href="#search">Search</a></li>
	          <li><a href="#whats-hot">What's Hot</a></li>
	          <li><a href="#around-me">Around Me</a></li>
	        </ul>
	        <ul class="nav nav-sidebar navbar navbar-trans" role="navigation">
	          <li><a href="#search">Sign In</a></li>
	          <li><a href="#whats-hot">Join RusHour</a></li>
	        </ul>
	      </div>
	    </div>
	  </div>

	  <!-- Section for Search -->
	  <section class="container-fluid fill" id="search">
	  <br><br><br><br>
	    <div class="row">
	    	<div class="col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3">
	    			    <div class="card-container manual-flip">
	    		        <div class="card">
	    		            <div class="front">
	    		            		<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
	    		            		  <h1 class="text-center v-center">Search</h1>
	    		            		</div>
	    		                <div class="content">
	    		                    <div class="row">
                  	            <div class="col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-1">
                  	                <div class="form-group">
                  	                  <div class="col-lg-10 col-sm-10 col-md-10">
                  	                    <input type="text" name="searchBox" class="form-control" id="inputSearch" autocomplete="off" placeholder="Search for..."/>
																				<br/>
                  	                    <br>
                  	                  </div>
                  	                </div>
                  	            </div>
                  	        </div>
	    		                </div>
	    		            </div>
	    		            <div class="back">
	    		                <div class="header">
	    		                    <h5 class="motto" id="restaurantName">Restaurant Name</h5>
	    		                </div> 
	    		                <div class="content">
	    		                		<div class="container">
	    		                		  <div class="row">
	    		                		    <div class="span2">
	    		                		      <img src=""  alt="" class="img-rounded" id="restaurantImage">
	    		                		    </div>
	    		                		    <div class="span4">
	    		                		      <blockquote>
	    		                		        <!-- <h4 id="restaurantCity">City</h4> -->
	    		                		        <small><cite title="Source Title" id="restaurantAddress">Gotham, United Kingdom</cite></small>
	    		                		        <small><cite title="Source Title" id="restaurantCity">Gotham, United Kingdom</cite></small>
	    		                		        <small><cite title="Source Title" id="restaurantCountry">Gotham, United Kingdom</cite></small>
	    		                		      </blockquote>
	    		                		    </div>
	    		                		  </div>
	    		                		</div>
	    		                    <!-- <div class="main">
	    		                        <h4 class="text-center" id="restaurantAddress">Address</h4>
	    		                        <h4 class="text-center" id="restaurantCity">City</h4>
	    		                        <h4 class="text-center" id="restaurantCountry">Country</h4>
	    		                        <p>...</p>
	    		                    </div> -->
	    		                    <div class="btn-group center">
	    		                      <button class="btn btn-block btn-primary" type="submit" onclick="backToSearch(this)">Back to Search</button>
	    		                    </div>
	    		                </div>
	    		            </div>
	    		        </div>
	    		    	</div>
	    	</div>
	    </div>
	                
	  </section>

	  <!-- Section for What's Hot -->
	  <section class="container-fluid fill" id="whats-hot">
	      <h1 class="text-center v-center">What's Hot.</h1>
	      <div class="container">
	        <div class="row">
          <div class="col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3" data-effect="slide-left">
            <div class="tabbable tabs-right">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#dealsoftheday" data-toggle="tab">Deals of the day</a></li>
                <li><a href="#favorites" data-toggle="tab">Your Favorites</a></li>
                <li><a href="#recommendations" data-toggle="tab">Our Favorites</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="dealsoftheday">
                  <p>I'm in Section dealsoftheday.</p>
                </div>
                <div class="tab-pane" id="favorites">
                  <p>Howdy, I'm in Section favorites.</p>
                </div>
                <div class="tab-pane" id="recommendations">
                  <p>Howdy, I'm in Section recommendations.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
	      <div class="row"><br></div>
	    </div><!--/container-->
	  </section>

	  <!-- Section for Around Me -->
	  <section class="container-fluid fill" id="around-me">
	      <h1 class="text-center v-center">Around Me.</h1>
	      <div class="container">
	        <div class="row">
	            <div class="col-sm-4">
	              <div class="row">
	                <div class="col-sm-10 col-sm-offset-3 text-center"><h3>Robust</h3><p>There is other content and snippets of details or features that can be placed here..</p><i class="fa fa-cog fa-5x"></i></div>
	              </div>
	            </div>
	        </div><!--/row-->
	      <div class="row"><br></div>
	    </div><!--/container-->
	  </section>

  <!-- Main Scripts-->
  <script src="/js/jquery.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/rushour.js"></script>
  
  <!-- Bootstrap 3 has typeahead optionally -->
  <script src="/js/typeahead.min.js"></script>
  <script type="text/javascript">
    
  </script>
  </body>
</html>
