<div class="widget">
  <form name="create-searchHistoryCategory-form" id="create-searchHistoryCategory-form" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required value="{{input.username}}" />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" id="category" name="category" required value="{{input.category}}" />
    </div>
    <div class="form-submit">
      <input type="submit" value="Create my account" />
    </div>
    <span style="color:red;">{{error}}</span>
    <span style="color:green;">{{message}}</span>
  </form>
</div>