<div class="widget">
  <form name="create-searchHistoryRestaurant-form" id="create-searchHistoryRestaurant-form" method="post">
    <div class="form-group">
      <label for="userID">userID</label>
      <input type="text" id="userID" name="userID" required value="{{input.userID}}" />
    </div>
    <div class="form-group">
      <label for="restaurantID">restaurantID</label>
      <input type="text" id="restaurantID" name="restaurantID" required value="{{input.restaurantID}}" />
    </div>
    <div class="form-submit">
      <input type="submit" value="Create my account" />
    </div>
    <span style="color:red;">{{error}}</span>
    <span style="color:green;">{{message}}</span>
  </form>
</div>