<br><br><br><br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<a href="/search/createSearchHistoryRestaurant">Add Search History (Restaurant) for a User</a>
			<a href="/search/createSearchHistoryCategory">Add Search History (Category) for a User</a>
			</div>
	</div>
</div>