<br><br><br><br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<ul>
				<li><a href="/restaurants/create">Create Restaurant</a></li>
				<li><a href="/restaurants/imageUpload">Add Image to Restaurant</a></li>
				<li><a href="/rush/create">Add Rush Data for a Restaurant</a></li>
				<li><a href="/search/home">Add Search History for a User</a></li>
				<li><a href="/users/imageUpload">Add Profile Picture for a User</a></li>
			</ul>
		</div>
	</div>
</div>