<ul>
	<li><a href="/restaurants/create">Create Restaurant</a></li>
	<li><a href="/restaurants/imageUpload">Add Image to Restaurant</a></li>
	<li><a href="/rush/create">Add Rush Data for a Restaurant</a></li>
	<li><a href="/search/home">Add Search History for a User</a></li>
	<li><a href="/users/imageUpload">Add Profile Picture for a User</a></li>
</ul>