<style>
 body {
     background: #fff;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     /*color:#000;*/
     margin: 0;
     padding: 0;
 }
 /*Restaurants Menu*/
 .swiper-container {
     width: 100%;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .swiper-slide {
     background-position: center;
     background-size: cover;
     width: 300px;
     height: 50%;
 }
 /*Whats hot*/
 .swiper-container-whats-hot {
      width: 300px;
      height: 300px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -150px;
      margin-top: -150px;
  }
  .swiper-slide-whats-hot {
      background-position: center;
      background-size: cover;
  }
 </style>

<!-- Section for Browse -->
<section class="container-fluid fill" id="browse">
<br><br><br><br>
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-2">
        <!-- Slider main container -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <!-- <div class="col-md-4 col-sm-6"> -->
                  <div class="card-container manual-flip">
                    <div class="card">
                      <div class="front cardOne">
                        <div class="cover">
                            <img id="img1" src=""/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 id="name1" class="name">Restaurant Name</h3>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> More Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="back cardOne">
                        <div class="header">
                            <h3 id="nameback1" class="name">Restaurant Name</h3>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <p id="category1" class="profession"></p>
                                <h5 id="address1"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                                <h5 id="citycountry1"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                                <h5 id="currentRush1"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div>         -->
              </div>
              <div class="swiper-slide">
                <!-- <div class="col-md-4 col-sm-6"> -->
                  <div class="card-container manual-flip">
                    <div class="card">
                      <div class="front cardOne">
                        <div class="cover">
                            <img id="img2" src=""/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 id="name2" class="name">Restaurant Name</h3>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> More Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="back cardOne">
                        <div class="header">
                            <h3 id="nameback2" class="name">Restaurant Name</h3>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <p id="category2" class="profession"></p>
                                <h5 id="address2"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                                <h5 id="citycountry2"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                                <h5 id="currentRush2"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div>   -->
              </div>
              <div class="swiper-slide">
                <!-- <div class="col-md-4 col-sm-6"> -->
                  <div class="card-container manual-flip">
                    <div class="card">
                      <div class="front cardOne">
                        <div class="cover">
                            <img id="img3" src=""/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 id="name3" class="name">Restaurant Name</h3>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> More Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="back cardOne">
                        <div class="header">
                            <h3 id="nameback3" class="name">Restaurant Name</h3>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <p id="category3" class="profession"></p>
                                <h5 id="address3"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                                <h5 id="citycountry3"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                                <h5 id="currentRush3"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>

              <div class="swiper-slide">
                <!-- <div class="col-md-4 col-sm-6"> -->
                  <div class="card-container manual-flip">
                    <div class="card">
                      <div class="front cardOne">
                        <div class="cover">
                            <img id="img4" src=""/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 id="name4" class="name">Restaurant Name</h3>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> More Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="back cardOne">
                        <div class="header">
                            <h3 id="nameback4" class="name">Restaurant Name</h3>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <p id="category4" class="profession"></p>
                                <h5 id="address4"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                                <h5 id="citycountry4"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                                <h5 id="currentRush4"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>

              <div class="swiper-slide">
                <!-- <div class="col-md-4 col-sm-6"> -->
                  <div class="card-container manual-flip">
                    <div class="card">
                      <div class="front cardOne">
                        <div class="cover">
                            <img id="img5" src=""/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 id="name5" class="name">Restaurant Name</h3>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> More Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="back cardOne">
                        <div class="header">
                            <h3 id="nameback5" class="name">Restaurant Name</h3>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <p id="category5" class="profession"></p>
                                <h5 id="address5"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                                <h5 id="citycountry5"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                                <h5 id="currentRush5"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>

              <div class="swiper-slide">
                <!-- <div class="col-md-4 col-sm-6"> -->
                  <div class="card-container manual-flip">
                    <div class="card">
                      <div class="front cardOne">
                        <div class="cover">
                            <img id="img6" src=""/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 id="name6" class="name">Restaurant Name</h3>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> More Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="back cardOne">
                        <div class="header">
                            <h3 id="nameback6" class="name">Restaurant Name</h3>
                        </div> 
                        <div class="content">
                            <div class="main">
                                <p id="category6" class="profession"></p>
                                <h5 id="address6"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                                <h5 id="citycountry6"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                                <h5 id="currentRush6"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                                <i class="fa fa-reply"></i> Back
                            </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- </div> -->
              </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>


  			<!-- CardOne -->
        <!-- <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="front cardOne">
                <div class="cover">
                    <img id="img1" src=""/>
                </div>
                <div class="content">
                    <div class="main">
                        <h3 id="name1" class="name">Restaurant Name</h3>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward"></i> More Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="back cardOne">
                <div class="header">
                    <h3 id="nameback1" class="name">Restaurant Name</h3>
                </div> 
                <div class="content">
                    <div class="main">
                        <p id="category1" class="profession"></p>
                        <h5 id="address1"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                        <h5 id="citycountry1"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                        <h5 id="currentRush1"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                        <i class="fa fa-reply"></i> Back
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- CardTwo -->
        <!-- <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="front cardOne">
                <div class="cover">
                    <img id="img2" src=""/>
                </div>
                <div class="content">
                    <div class="main">
                        <h3 id="name2" class="name">Restaurant Name</h3>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward"></i> More Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="back cardOne">
                <div class="header">
                    <h3 id="nameback2" class="name">Restaurant Name</h3>
                </div> 
                <div class="content">
                    <div class="main">
                        <p id="category2" class="profession"></p>
                        <h5 id="address2"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                        <h5 id="citycountry2"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                        <h5 id="currentRush2"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                        <i class="fa fa-reply"></i> Back
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>  -->

        <!-- CardThree -->
        <!-- <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="front cardOne">
                <div class="cover">
                    <img id="img3" src=""/>
                </div>
                <div class="content">
                    <div class="main">
                        <h3 id="name3" class="name">Restaurant Name</h3>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward"></i> More Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="back cardOne">
                <div class="header">
                    <h3 id="nameback3" class="name">Restaurant Name</h3>
                </div> 
                <div class="content">
                    <div class="main">
                        <p id="category3" class="profession"></p>
                        <h5 id="address3"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                        <h5 id="citycountry3"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                        <h5 id="currentRush3"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                        <i class="fa fa-reply"></i> Back
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- CardFour -->
<!--         <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="front cardOne">
                <div class="cover">
                    <img id="img4" src=""/>
                </div>
                <div class="content">
                    <div class="main">
                        <h3 id="name4" class="name">Restaurant Name</h3>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward"></i> More Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="back cardOne">
                <div class="header">
                    <h3 id="nameback4" class="name">Restaurant Name</h3>
                </div> 
                <div class="content">
                    <div class="main">
                        <p id="category4" class="profession"></p>
                        <h5 id="address4"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                        <h5 id="citycountry4"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                        <h5 id="currentRush4"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                        <i class="fa fa-reply"></i> Back
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- CardFive -->
        <!-- <div class="col-md-4 col-sm-6">
          <div class="card-container manual-flip">
            <div class="card">
              <div class="front cardOne">
                <div class="cover">
                    <img id="img5" src=""/>
                </div>
                <div class="content">
                    <div class="main">
                        <h3 id="name5" class="name">Restaurant Name</h3>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward"></i> More Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="back cardOne">
                <div class="header">
                    <h3 id="nameback5" class="name">Restaurant Name</h3>
                </div> 
                <div class="content">
                    <div class="main">
                        <p id="category5" class="profession"></p>
                        <h5 id="address5"><i class="fa fa-map-marker fa-fw text-muted"></i> Address</h5>
                        <h5 id="citycountry5"><i class="fa fa-building-o fa-fw text-muted"></i> City, Country</h5>
                        <h5 id="currentRush5"><i class="fa fa-envelope-o fa-fw text-muted"></i> Rush</h5>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="backToSearch(this)">
                        <i class="fa fa-reply"></i> Back
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
  	</div>
  </div>          
</section>


<!-- Section for Search -->
<section class="container-fluid fill" id="search">
	<br><br><br><br>
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-2">
	    <div class="card-container manual-flip">
        <div class="card">
            <div class="front">
          		<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
          		  <h1 class="text-center v-center">Search</h1>
          		</div>
              <div class="content">
                <div class="row">
    	            <div class="col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-1">
  	                <div class="form-group">
  	                  <div class="col-lg-10 col-sm-10 col-md-10">
  	                    <input type="text" name="searchBox" class="form-control" id="inputSearch" autocomplete="off" placeholder="Search for..."/>
												<br/>
  	                    <br>
  	                  </div>
    	              </div>
    	            </div>
      	        </div>
              </div>
            </div>
            <div class="back">
              <div class="header">
                  <h5 class="motto" id="restaurantName">Restaurant Name</h5>
              </div> 
              <div class="content">
            		<div class="container">
            		  <div class="row">
            		    <div class="col-md-4">
            		      <img src="" height="100" style="max-width: 120px" alt="" class="img-rounded" id="restaurantImage">
            		    </div>
            		    <div class="col-md-4">
            		      <blockquote>
            		        <!-- <h4 id="restaurantCity">City</h4> -->
            		        <small><cite title="Source Title" id="restaurantAddress">Gotham, United Kingdom</cite></small>
            		        <small><cite title="Source Title" id="restaurantCity">Gotham, United Kingdom</cite></small>
            		        <small><cite title="Source Title" id="restaurantCountry">Gotham, United Kingdom</cite></small>
            		      </blockquote>
            		    </div>
            		  </div>
              		</div>
                <div class="btn-group center">
                  <button class="btn btn-block btn-primary" type="submit" onclick="backToSearch(this)">Back to Search</button>
                </div>
              </div>
            </div>
        </div>
    	</div>
  	</div>
  </div>          
</section>

<!-- Section for What's Hot -->
<section class="container-fluid fill" id="whats-hot">
    <h1 class="text-center v-center">What's Hot.</h1>
    <div class="col-lg-offset-2 col-lg-3 offset-sm-3 col-sm-5">
      <!-- Swiper -->
      <div class="swiper-container-whats-hot-1">
          <div class="swiper-wrapper-whats-hot-1">
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination-whats-hot-1"></div>
      </div>
    </div>

    <div class="col-lg-3 offset-sm-1 col-sm-5">
      <!-- Swiper -->
      <div class="swiper-container-whats-hot-1">
          <div class="swiper-wrapper-whats-hot-1">
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination-whats-hot-1"></div>
      </div>      
    </div>

    <div class="col-lg-3 offset-sm-1 col-sm-5">
      <!-- Swiper -->
      <div class="swiper-container-whats-hot-1">
          <div class="swiper-wrapper-whats-hot-1">
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
              <div class="swiper-slide-whats-hot-1"></div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination-whats-hot-1"></div>
      </div>        
    </div>

    <div class="row"><br></div>
  </div><!--/container-->
</section>

<!-- Section for Around Me -->
<section class="container-fluid fill" id="around-me">
    <h1 class="text-center v-center">Around Me.</h1>

    <div class="row"><br></div>
  </div><!--/container-->
</section>