<form method='post' action='/users/imageUpload' enctype="multipart/form-data">
	<input type='file' name='fileUploaded'>
	<input type="text" id="userID" name="userID" value="{{user._id}}"/>
	<input type='submit'>
</form>