<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4 col-sm-offset-3">
      <div style="width:500px;height:180px;">
        <h2 style="font-size:40px;">Welcome! Please log in.</h2>
        <a href="/users/auth/facebook">Login with Facebook</a>
      </div>
      <form name="login-form" id="login-form" method="post" action="/users/login">
        <div class="form-group">
          <input class="form-control" type="email" id="email" name="email" required placeholder="Email" />
        </div>
        <div class="form-group">
          <input class="form-control" type="password" id="password" name="password" required placeholder="Password" />
        </div>
        <div class="btn-group pull-right">
          <input class="btn btn-success btn-block" type="submit" value="Log in" />
          {{#if error}}
          <div style="color:red;">{{error}}</div>
          {{/if}}
          <br><br>
          <div class="">
            or <a href="/users/create">Create an account</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>