<div>
	<span style="color:green;">{{success}}</span>
</div>
{{#if restaurant}}
  <h2>Hello, {{restaurant.name}}.</h2>
  <img src={{restaurant.imageUrl}} alt="Profile Picture">
  <a href="/restaurants/logout">Logout</a>
{{else}}
  <h2>No restaurant is signed in</h2>
{{/if}}